.MenuItem {
  padding: 8px 15px;
  margin: 0 33px 0 21px;
  text-align: left;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.MenuItem a {
  color: #5a607b;
  text-decoration: none;
  padding-left: 15px;
  font-family: 'MontserratSemiBold';
  font-size: 11pt;
}

.MenuItem-active a {
  color: #ffffff;
  width: 100%;
}

.MenuItem-active .MenuItem-icon {
  background: #ffffff;
}

.MenuItem-icon {
  background: #5a607b;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 2px;
  position: relative;
  border-radius: 8px;
}

.MenuItem-active {
  background: #fd4a45;
  border-radius: 50px;
  padding: 15px;
  transition: background 0.4s;
}

.MenuItem-active:hover {
  background: #d03d39;
}

.MenuItem-arrow {
  background: url(./img/arrow.svg);
  height: 68px;
  display: none;
  width: 100px;
  right: -90px;
  top: -26px;
  position: absolute;
  background-size: cover;
}

.MenuItem-active .MenuItem-arrow {
  display: block;
}
