.Header {
  background: #1a1c24;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MontserratBold';
}

.Header-title {
  color: #ffffff;
  margin: 0;
}
