.SideBar-container {
  width: 240px;
  background: url(./img/side-bar.png);
  background-size: 107%;
  background-repeat: no-repeat;
  background-position: -17px 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0
}

.SideBar-logo {
  display: block;
  background: url(./img/logo.png);
  width: 100px;
  height: 81px;
  margin: 45px auto 55px;
}

.SideBar-footer {
  margin-top: auto;
  margin-bottom: 18px;
  padding-left: 30px;
  color: #5a607b;
  font-size: 9pt;
}

.SideBar-footer-status {
  font-family: 'MontserratBold';
  font-size: 10pt;
  font-weight: bold;
  color: #161720;
}

.SideBar-footer-status span {
  font-family: 'MontserratMedium';
  color: #ffffff;
  font-weight: normal;
}

.SideBar-footer-updates {
  margin: 0;
  font-family: 'MontserratMedium';
}

.SideBar-footer-faq {
  border-left: 2px solid #161720;
  margin-left: 8px;
  padding-left: 8px;
}
